/* Services Section */
.services {
    padding: 60px 6vw;
    text-align: center;
}

.services h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 3rem;
}

/* Wrapper to limit width */
.services-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Container for flex layout */
.services-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* Individual service box */
.services-box {
    flex: 1 1 300px;
    max-width: 460px;
    background: #0b0b45;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid #9c97f1;
    transition: transform 0.3s ease;
}


body:not(.darkmode) .services-box {
    flex: 1 1 300px;
    max-width: 460px;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    background: #e7e6e6;
    border: 0.2rem solid var(--border);
    transition: transform 0.3s ease;
}


body:not(.darkmode) .services-box:hover {
    border-color: var(--text);
}

.services-box:hover {
    border-color: #33297e;
    transform: translateY(-8px);
}

.services-box h3 {
    color: #8e8bc7;
    margin-bottom: 1rem;
}

body:not(.darkmode) .services-box h3 {
    color: #0f1724;
    margin-bottom: 1rem;
}

body:not(.darkmode) .services-box .fa-solid {
    color: var(--text-muted);
}

.services-box p {
    font-size: 0.95rem;
    color: #f5f5f5;
    margin: 1rem 0 3rem;
}

/* Responsive */
@media (max-width: 768px) {
    .services-box {
        flex: 1 1 100%;
        max-width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.services-box i {
    font-size: 3rem;
    color: blueviolet;
}

.services-box h3 {
    font-size: 1.25rem;
}