@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

h1,
h2,
h3 {
    font-family: 'Space Grotesk', sans-serif;
}

.vertical-tittle,
.vertical-desc,
.project-desc,
p {
    font-family: 'Space Grotesk', 'Roboto', "Inter", sans-serif;

}


.dev-name {
    color: blueviolet;
}

body:not(.darkmode) .dev-name {
    color: #8a2be2;
}

#dev-profession {
    color: blueviolet;
    font-weight: 600;
}