/* infinite scroll */
.infscroll-container {
    width: 100%;
    padding: 3rem 0;
    overflow: hidden;
    position: relative;
}

.infinite-scroll::before,
.infinite-scroll::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
}

.infinite-scroll {
    display: flex;
    width: fit-content;
    animation: scroll 35s linear infinite;
}


.tech-card {
    width: 120px;
    height: 80px;
    margin: 0 20px;
    background: rgba(255, 255, 255, 0.05);
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--text-muted);
    border: 2px solid var(--border);
    position: relative;
}


.tech-card i {
    transition: 0.3s;
}

.tech-card:hover i {
    color: var(--primary);
    transform: scale(1.4);
}


.tech-card:hover {
    border-color: snow;
}

.card-info {
    position: absolute;
    left: 50%;
    bottom: calc(100% + 12px);
    transform: translateX(-50%) translateY(10px);
    color: var(--primary);
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Space Grotesk', 'Roboto', "Inter", sans-serif;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    pointer-events: none;
}

.tech-card:hover .card-info {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.card-info::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 7px solid transparent;
    border-top-color: #fffafa;
}

body:not(.darkmode) .card-info:after {
    border: 7px solid #fffafa;
    border-top-color: black;
}

body:not(.darkmode) .tech-card:hover {
    border-color: var(--text);
}

body:not(.darkmode) .card-info {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Space Grotesk', 'Roboto', "Inter", sans-serif;
    color: black;
}


body:not(.darkmode) .tech-card:hover i {
    color: var(--bg-surface);
    transform: scale(1.4);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .infinite-scroll {
        animation-duration: 60s;
    }
}